<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center ocultar-movil">
      INFORMACIÓN
    </ion-title>
    <ion-title class="text-center ocultar-pc">
      INFORMACIÓN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-padding text-justify">
  <div class="text-center">
    <h1><img src="/assets/img/logo.png"class="logo" alt="Deportivos Katiuska"></h1>
  </div>

  <div class="container text-center">
    <ion-card class="card-informacion">
      <ion-card-content>
        <h2 class="bold">
          Información de Envio
        </h2>
        <br>
        <h6>
          Estamos trabajando con el servicio de mensajería para llevar a cabo las entregas lo antes posible.
          <br>
          Actualmente nos ubicamos en la ciudad de Barquisimeto - Estado Lara. Venezuela.
        </h6>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>