<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center ocultar-movil">
      QUIÉNES SOMOS
    </ion-title>
    <ion-title class="text-center ocultar-pc">
      QUIÉNES SOMOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-padding text-justify">
  <div class="text-center">
    <h1><img src="/assets/img/logo.png"class="logo" alt="Deportivos Katiuska"></h1>
  </div>

  <div class="container text-center">
    <ion-card class="card-informacion">
      <ion-card-content>
        <h2 class="bold text-md-left">
          ¿Quiénes somos?
        </h2>
        <br>
        <h6 class="text-md-left">
          Tenemos muchos años y desde entonces no hemos dejado de arrasar. Te traemos más de 100 productos diferentes cada día para poder ofrecerte las prendas más actuales al mejor precio.
        </h6>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>