<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="text-center ocultar-movil">
      QUIÉNES SOMOS
    </ion-title>
    <ion-title class="text-center ocultar-pc">
      QUIÉNES SOMOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo ion-padding text-justify">
  <div class="text-center">
    <h1><img src="/assets/img/logo.png"class="logo" alt="Deportivos Katiuska"></h1>
  </div>

  <div class="container text-center">
    <ion-card class="card-informacion">
      <ion-card-content>
        <h2 class="bold">
          Responsabilidad social y con el Medio Ambiente
        </h2>
        <br>
        <h6 class="text-md-left">
          El grupo Deportivos Katiuska actúa de manera responsable para reducir el consumo de energía y utilizar la energía de manera más eficiente para reducir su impacto ambiental. Monitoreamos e informamos sobre todos los desperdicios.
          <br><br>
          <ion-icon name="send-outline"></ion-icon> Todos los desechos de cartón y plástico de nuestro almacén se reciclan.
          <br><br>
          <ion-icon name="send-outline"></ion-icon> Para nuestro taller, reciclamos todos los desechos de papel y plástico. tenemos un programa para reemplazar la iluminación con Bombillos LED eficientes.
          <br><br>
        </h6>
        <h2 class="bold">
          Asitencia adicional
        </h2>
        <br>
        <h6 class="text-md-left">
          Debido a las dificultades provocadas por el coronavirus (COVID-19), estamos proporcionando a nuestros clientes asistencia y recursos adicionales.
          <br><br>
        </h6>
      </ion-card-content>
    </ion-card>
    
  </div>

</ion-content>