<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center ocultar-movil">
      ESTAMOS TRABAJANDO PARA ELABORAR LOS PEDIDOS DE MANERA SEGURA
    </ion-title>
    <ion-title class="text-center ocultar-pc">
      HAZ TUS ENCARGOS DE MANERA SEGURA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo text-center">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ESPERANOS PRONTO</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <h1><img src="/assets/img/logo.png"class="logo" alt="Deportivos Katiuska"></h1>

  <img src="/assets/img/home/banner.gif" width="100%" alt="Banner">
  <!-- Articulos especiales -->
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <img src="/assets/img/clientes-afiliados.png" style="cursor: pointer;" width="100%" alt="Afiliados" routerLink="/tabs/tab2">
      </ion-col>
      <ion-col size="4">
        <img src="/assets/img/zapato.png" style="cursor: pointer;" width="97%" alt="Promociones" (click)="irapromociones()"> 
      </ion-col>

    </ion-row>
  </ion-grid>
  <!-- ENCARGALO Y LO HAREMOS  -->
  <h5 class="text-morado bold">ENCARGALO Y LO HAREMOS</h5>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-lg>
        <ion-card>
          <img src="/assets/img/ejemplo1.png" style="cursor: pointer;" width="100%" alt="ejemplo1" button (click)="iragaleriageneral('mujeres')">
          <!-- <ion-button class="boton-home" style="cursor: none;">Pronto</ion-button> -->
        </ion-card>
      </ion-col>
      <ion-col size="6" size-lg>
        <ion-card>
          <img src="/assets/img/ejemplo2.png" style="cursor: pointer;" width="100%" alt="ejemplo2" button (click)="iragaleriageneral('hombres')">
          <!-- <ion-button class="boton-home" style="cursor: none;">Pronto</ion-button> -->
        </ion-card>
      </ion-col>
      <ion-col size="6" size-lg>
        <ion-card>
          <img src="/assets/img/ejemplo3.png" style="cursor: pointer;" width="100%" alt="ejemplo3" button (click)="iragaleriageneral('ninios')">
          <!-- <ion-button class="boton-home" style="cursor: none;">Pronto</ion-button> -->
        </ion-card>
      </ion-col>
      <ion-col size="6" size-lg>
        <ion-card>
          <img src="/assets/img/ejemplo4.png" style="cursor: pointer;" width="100%" alt="ejemplo1" button (click)="iragaleriageneral('adultos')">
          <!-- <ion-button class="boton-home" style="cursor: none;">Pronto</ion-button> -->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <!-- Footer -->
  <ion-grid class="footer">
    <div class="container">
      <ion-row class="text-md-left">
        <ion-col size="12" size-md>
          <h6>
            <b>INFORMACIÓN</b>
            <br><br>
            <ul>
              <li><a routerLink="/informacion-de-envio">Información de envío</a></li>
              <li><a routerLink="/politicas-de-privacidad">Política de Privacidad</a></li>
              <li>
                Horario: 
                <br>
                Domingo a Viernes(5:30pm)
              </li>
            </ul>
          </h6>
        </ion-col>
        <ion-col size="12" size-md>
          <h6>
            <b>QUIÉNES SOMOS</b>
            <br><br>
            <ul>
              <li><a routerLink="/sobre-nosotros">Sobre Deportivos Katiuska</a></li>
              <li><a routerLink="/responsabilidad-social">Responsabilidad social de Deportivos Katiuska</a></li>
              <li><a routerLink="/mapa-del-sitio">Mapa del sitio</a></li>
            </ul>

          </h6>
            
          
        </ion-col>
        <ion-col size="12" size-md>
          <h6>
            <b>SÍGUENOS</b>
            <br><br>
            <a href="https://www.facebook.com/Deportivos-Katiuska-104357451254718" target="_blank"><img src="/assets/img/facebook.svg" class="icon-social" alt="Facebok"></a>
            <a href="https://www.instagram.com/deportivoskatiuska/" target="_blank"><img src="/assets/img/instagram.svg" class="icon-social" alt="Instagram"></a>
            <a href="https://twitter.com/DeportivosK" target="_blank"><img src="/assets/img/twitter.svg" class="icon-social" alt="Twitter"></a>

            <br><br><br>

            <img src="/assets/img/pay1.png" class="icon-pay" alt="Transferencias Bancarias">
            <img src="/assets/img/pay2.png" class="icon-pay" alt="Pago Móvil">
            <img src="/assets/img/pay3.png" class="icon-pay" alt="AirUSD">
            <img src="/assets/img/pay4.png" class="icon-pay" alt="BTC">

          </h6>
            
          
        </ion-col>

      </ion-row>

      <br>
      
      
      <ion-row>
        <ion-col>
          Copyright © 2020 deportivoskatiuska.com
        </ion-col>
      </ion-row>
    </div>


  </ion-grid>

</ion-content>