<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-center ocultar-movil">
      ESTAMOS TRABAJANDO PARA ELABORAR LOS PEDIDOS DE MANERA SEGURA
    </ion-title>
    <ion-title class="text-center ocultar-pc">
      HAZ TUS ENCARGOS DE MANERA SEGURA
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo text-center text-negro">
  <h1><img src="/assets/img/logo.png"class="logo" alt="Deportivos Katiuska"></h1>
  RIF.: J-23150937-9
  <h2>
    Todo en Uniformes Escolares
    <br>
    Todo lo relacionado con uniformes deportivos
    <br>
    Dotaciones para Empresas
    <br>
    Sublimaciones y Transfer    
  </h2>
  <h5>
    Calle 15 entre 6 y 7 Barrio Unión 
    <br>
    Barquisimeto - Estado Lara
    <br>
    <a href="mailto:deportivoskatiuska@gmail.com">deportivoskatiuska@gmail.com</a>
    
  </h5>

  <br>
  
</ion-content>